# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual envs
.venv/
venv/
env/

# uv specific
.python-version

# =========================
# Environment & Secrets
# =========================
.env
.env.*
*.env

# dbt profiles
profiles.yml

# =========================
# dbt
# =========================
target/
dbt_packages/
logs/
dbt_modules/

# =========================
# Spark / Databricks
# =========================
.metastore_db/
spark-warehouse/

# =========================
# Kafka / Streaming
# =========================
*.log
*.out

# =========================
# Docker
# =========================
*.pid
*.cid

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Data files
# =========================
data/
*.parquet
*.csv
*.json

# =========================
# Logs
# =========================
logs/
*.log